<%- include("header") %> 

<body>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">
        <!-- FOR LOOP for adding a new item each time one is added -->
        <% for( let i = 0; i < newListItems.length; i++ ) { %>
            <div class="item">
            <input type="checkbox">
            <p><%=  newListItems[i] %> </p>
        </div>
        <% } %>

        <form class="item" action="<%= route %>" method="post">
            <input type="text" name="newItem" placeholder="New Task" autocomplete="off">
            <button type="submit">+</button>
        </form>
    </div>

    <script src="../app.js"></script>
</body>

<%- include("footer") %> 
